* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* warna background & text body */
body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
  color: #333;
}

/* Header */
header {
  background-image: url("qqq.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

/*warna text pinggir header*/
.header-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(110, 61, 61, 0.5);
}

.header-content p {
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* menu bar */
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #cf0d0d;
  padding: 15px 0;
  margin-bottom: 20px;
}

/*jarak menu*/
nav ul li {
  margin: 0 20px;
}

/*text menu*/
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/*animasi menu*/
nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* jarak beranda & teori */
.section-content {
  padding: 40px 20px;
  text-align: center;
}

/*judul teori & Beranda*/
.section-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/*text & judul halaman video*/
.section-content-v {
  font-size: 16px;
  text-align: center;
}

/*text teori*/
.section-content p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

/* tombol start */
.start-btn {
  background-color: #cf0d0d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.start-btn a {
  color: white;
  text-decoration: none;
}

.start-btn:hover {
  background-color: #cf0d0d;
  border-radius: 5px;
}

/* Video  */
.video-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ig-btn-container {
  text-align: center;
  margin-top: 20px; /* Space from the video */
}

/* Style for the Discord link button */
.ig-btn {
  display: inline-block;
  background-color: #cf0d0d; /* Discord Blue */
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.ig-btn:hover {
  background-color: #cc5050; /* Darker Discord Blue on hover */
}
/* Footer */
footer {
  background-color: #343434;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}
